.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: 'flex';
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 2.5vw;
}

.heading2 {
  font-size: 1.5vw;
}

.App-header {
  background-color: #3d3d3d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tabList {
  padding-left: 0;
  display: flex;
}

.tab {
  background-color: rgb(63, 63, 63);
  width: 100%;
}

.tab .label {
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  font-size:17px;
  margin:0%;
  cursor: pointer;
}

.tab .label:hover {
  background-color: #555;
}

.tab .labelActive {
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  font-size:17px;
  margin:0%;
  background-color: #555;
}

.button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(63, 63, 63);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.button:hover {
  background-color: #555;
}

input[type=submit] {
  background-color: rgb(63, 63, 63);
  border: none;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  cursor: pointer;
}

.text {
  color: white;
  padding: 10px;
}

img {
  width: 50%;
  height: auto;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(66, 66, 66, 0.3), 0 0 20px rgba(0, 0, 0, .5);
}

button {
  background-color: rgb(242,110,32);
  border: none;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Lato','Helvetica','Arial';
  font-weight: 600;
  border-radius: 8px;
}

.root-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-controller {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 24em;
  min-width: 21em;
  height: 35px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  margin-bottom: 30px;
  align-items: center;
  transition: visibility 0.5s ease-out;
}

.controller {
  flex: 1;
  text-align: center;
  height: 100%;
  line-height: 2;
  cursor: pointer;
}

.selected-controller {
  transition: border 0.5s ease-out;
  border-bottom: 2px solid #70a1ff;
}

.box-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  max-width: 24em;
  min-width: 21em;
  box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  border-radius: 6px;
  padding: 24px;
}

.inner-container {
  transition: visibility 0.2s ease-out;
}

.inner-container.show {
  visibility: visible;
}

.header {
  text-align: center;
  padding: 5px;
  margin-bottom: 17px;
  font-family: Ozxgen, sans-serif;
  font-size: 22px;
  border-bottom: 2px solid #70a1ff;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}

.login-label {
  font-family: Oxygen, sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding-left: 5px;
}

.login-input {
  height: 2.1em;
  border-radius: 3px;
  border: 1px solid #70a1ff;
  transition: border 0.4s ease-out;
  padding: 13px;
  font-family: Oxygen, sans-serif;
  font-size: 19px;
  color: #3e3e42;
  background: rgba(15, 15, 15, 0.01);
}

.login-input:hover {
  border: 2px solid #70a1ff;
}

.login-input:focus {
  border: 2px solid #6565e7;
  box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
}

.login-input::placeholder {
  font-family: Oxygen, sans-serif;
  font-size: 16px;
  color: rgba(15, 15, 15, 0.4);
}

.login-btn {
  padding: 2px 30px;
  border: 0;
  font-size: 18px;
  border-radius: 3px;
  font-family: Oxygen, sans-serif;
  background-color: rgba(15, 15, 15, 0.479);
  margin-top: 20px;
  border: 2px solid #417cef;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
}

.login-btn:hover,
.login-btn:focus {
  background-color: #417cef;
  color: white;
}

.password-state {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.pwd {
  height: 6px;
  flex: 1;
  visibility: hidden;
}

.show {
  visibility: visible;
}

.body {
  width: 100%;
  height: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
  display: block;
}

.itemBox {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(110, 110, 110, 0.3), 0 0 10px rgba(0, 0, 0, .2);
  height: auto;
  margin-bottom: 1.5em;
  background-color: rgba(238, 238, 238, 0.3); 
}

.frame {
  width: 90%; 
  height: 50vw;
  margin: 2em;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px rgba(90, 90, 90, .3), 0 0 2px rgba(0, 0, 0, .1);
}

.countdown-timer {
  padding: 1vw;
  margin-top: 5px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: .1em solid black;
  /* box-shadow: 0 0 10px rgba(90, 90, 90, .3), 0 0 2px rgba(0, 0, 0, .1); */
}

.countdown-timer span {
  margin-left: 5px;
  margin-right: 5px;
}

.two-numbers {
  width: 2ch;
}

.countdown-div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.h1-timer {
  margin-bottom: 0;
  font-size: 1.5vw;
}